.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    
    
    @include breakpoint (max-width $bp-medium) {
             
    }
    
    &__list {
        
        
        @include breakpoint (max-width $bp-medium) {
            
        }
        
        @include breakpoint (max-width $bp-small) {
              
        }
        
    }
    
    &__img {
        
    }
    
    &__sold {
		      color: $color-grey-light-2;
    }
}



